body {
	/* Code */
	--code-background: var(--background-primary-alt);
	--code-radius: var(--radius-m);
}

body.theme-dark {
	--code-background: var(--color-base-10);
	--code-normal: oklch(95% 0 0);
	--code-operator: var(--code-normal);
	--code-punctuation: var(--code-normal);
	--code-comment: oklch(70% 0 0);
	--code-function: oklch(85% 0.2 300);
	--code-important: oklch(70% 0.2 295);
	--code-keyword: oklch(90% 0.16 150);
	--code-property: oklch(90% 0.16 250);
	--code-string: oklch(90% 0.16 90);
	--code-valuse: oklch(90% 0.16 110);
	--code-tag: oklch(75% 0.2 260);
	.cm-callee,
	.cm-def {
		color: var(--code-function);
	}
	.cm-number {
		color: var(--code-valuse);
	}
}

body.theme-light {
	--code-background: var(--color-base-05);
	--code-normal: oklch(0% 0 0);
	--code-operator: var(--code-normal);
	--code-punctuation: var(--code-normal);
	--code-comment: oklch(50% 0 0);
	--code-function: oklch(40% 0.2 300);
	--code-important: oklch(30% 0.2 295);
	--code-keyword: oklch(40% 0.16 150);
	--code-property: oklch(40% 0.16 250);
	--code-string: oklch(40% 0.2 90);
	--code-valuse: oklch(40% 0.16 110);
	--code-tag: oklch(40% 0.2 260);
	.cm-callee,
	.cm-def {
		color: var(--code-function);
	}
	.cm-number {
		color: var(--code-valuse);
	}
}
