/* EDITOR ELEMENTS - Content Blocks */

/* Blockquote */
body {
	--blockquote-border-thickness: 0.2em;
	--blockquote-border-color: var(--subtheme-color-1-alt);

	&.theme-dark {
		--code-background: var(--color-base-40);
	}
	&.theme-light {
		--code-background: var(--color-base-05);
	}
}

.HyperMD-quote {
	--blockquote-style: italic;
}

/* hr divider */
hr {
	border-top: solid 2px var(--color-base-30);
}
