/* EDITOR ELEMENTS - Content Elements */

/* ============================================
   CODE BLOCKS & BLOCKQUOTES
   ============================================ */

body {
	/* Blockquote */
	--blockquote-border-thickness: 0.2em;
	--blockquote-border-color: var(--theme-color-1-alt);
}

.HyperMD-quote {
	--blockquote-style: italic;
}

/* Math Styling */

.math {
	background-color: var(--code-background);
	color: var(--code-normal);
	font-size: calc(var(--code-size) + 0.2em);
}

.math-block {
	border-radius: var(--code-radius);
}

/* ============================================
   LISTS
   ============================================ */

body {
	--list-marker-color: var(--text-muted);
}

.cm-formatting-list {
	font-size: 1rem;
}

/* ============================================
   TABLES
   ============================================ */

body {
	--table-header-weight: 500;
	--table-border-color: var(--divider-color);
}

/* ============================================
   CALLOUTS
   ============================================ */

.callout {
	.callout-title {
		/* color: ; */
	}
	background-color: rgba(var(--callout-color), var(--dimmed-color-alpha));
}
.wider-callouts {
	--callout-padding: 0.75em;

	.cm-embed-block.cm-callout {
		width: calc(var(--file-line-width) + 1.5em);
		padding-left: -0.75em;
		translate: -0.75em;
	}
}
