/* EDITOR ELEMENTS - Content Blocks */

body {
	/* Code */
	--code-background: var(--background-primary-alt);
	--code-radius: var(--radius-l);

	/* Blockquote */
	--blockquote-border-thickness: 0.2em;
	--blockquote-border-color: var(--theme-color-1-alt);

	&.theme-dark {
		--code-background: var(--color-base-40);
	}
	&.theme-light {
		--code-background: var(--color-base-05);
	}
}

.HyperMD-quote {
	--blockquote-style: italic;
}

/* Math Styling */
.math {
	background-color: var(--code-background);
	color: var(--code-normal) !important;
	font-size: 1.1em;
}
.math-block,
.markdown-source-view.mod-cm6
	.cm-embed-block:not(.cm-table-widget, .cm-lang-base):hover {
	border-radius: var(--radius-l);
}
