/* Tables */

body {
	--table-header-weight: 500;
	--table-border-color: var(--background-modifier-border-focus);
}

/* markdown table line-break */
.cm-table-widget {
	padding-top: 0px !important;
}
