/* Typography - Fonts, Headings */

/* fonts */
.enable-custom-fonts {
  --font-headings: var(--font-text);
  --h1-font: var(--font-headings);
  --h2-font: var(--font-headings);
  --h3-font: var(--font-headings);
  --h4-font: var(--font-headings);
  --h5-font: var(--font-headings);
  --h6-font: var(--font-headings);
  --inline-title-font: var(--font-headings) !important;
}

body {
  --h1-line-height: 1.3;
  --h2-line-height: 1.3;
  --h3-line-height: 1.3;
  --h4-line-height: 1.3;
  --h5-line-height: 1.3;
  --h6-line-height: 1.3;
}

/* monospace-symbols */
.monospace-symbols .cm-formatting{
  font-family: var(--font-monospace) !important;
}

/* bold */
body {
  --bold-weight: bolder;
}

/* HEADINGS */

/* Variants */

/* lines and dashes */
.headings-variant-lines-and-dashes {
  .HyperMD-header-1, .HyperMD-header-2 {
    border-bottom: 1px solid var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header-3, .HyperMD-header-4 {
    border-bottom: 1px dashed var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header + * {
    padding-top: .4em !important;
  }
}

/* lines */
.headings-variant-lines {
  .HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4 {
    border-bottom: 1px solid var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header + * {
    padding-top: .4em !important;
  }
}

/* inline-title  */
.theme-dark:not(.default-inline-title), .theme-light:not(.default-inline-title) {
  --inline-title-size: 1.8rem;
  --inline-title-color: var(--text-normal);
  --inline-title-weight: 600;
  --inline-title-margin-bottom: 1.25rem;
  --file-header-justify: left;
  --file-header-font-size: .9rem;
}

.hide-inline-title-note-name .view-header-title{
  display: none;
}

:not(.default-inline-title) .view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
  padding-top: 1em;
}

/* Center view header title */
.view-header-title-container {
  display: flex;
  .view-header-title-parent {
    display: none;
  }
  .view-header-title {
    margin: 0 auto;
  }
}
