/* @settings

name: Cosmical
id: cosmical
collapsed: false
settings:
  -
    id: Theme-color-settings-heading
    title: Theme Colors
    title.es: Colores del Tema
    type: heading
    level: 1
    collapsed: false
  -
      id: properties-color-scheme
      title: Properties color scheme
      title.es: Esquema de color para las propiedades
      description: Choose the color for the colorful properties options
      type: class-select
      allowEmpty: true
      default: properties-color-scheme-ocean
      options:
        -
          label: Base - Racing Yellow
          value: properties-color-scheme-racing-yellow
        -
          label: Base - Pine
          value: properties-color-scheme-pine
        -
          label: Base - Ruby
          value: properties-color-scheme-ruby
        -
          label: Base - Industrial Orange
          value: properties-color-scheme-industrial-orange
        -
          label: Ocean (Cosmical default)
          value: properties-color-scheme-ocean
        -
          label: Space Adventure 1
          value: properties-color-scheme-space-adventure-1
        -
          label: Space Adventure 2
          value: properties-color-scheme-space-adventure-2
        -
          label: Riverrun
          value: properties-color-scheme-riverrun
        -
          label: Chromium
          value: properties-color-scheme-chromium
        -
          label: Emerald
          value: properties-color-scheme-emerald
        -
          label: Mecha
          value: properties-color-scheme-mecha
        -
          label: Sunny
          value: properties-color-scheme-sun
  -
        id: tags-color
        title: Tags color
        title.es: Color de las etiquetas (tags)
        description: Choose the accent color for tags
        description.es: Color de énfasis para las etiquetas
        type: class-select
        allowEmpty: true
        default: tags-ocean
        options:
          -
            label: Industrial Orange
            value: tags-industrial-orange
          -
            label: Racing Yellow
            value: tags-racing-yellow
          -
            label: Emerald
            value: tags-emerald
          -
            label: Pine
            value: tags-pine
          -
            label: Ocean
            value: tags-ocean
          -
            label: Space Adventure
            value: tags-space-adventure
          -
            label: Saphire
            value: tags-saphire
          -
            label: Amethyst
            value: tags-amethyst
          -
            label: Ruby
            value: tags-ruby
          -
            label: Mecha
            value: tags-mecha
  -
      id: hollow-tags
      title: Hollow tags style
      title.es: Estilo de etiquetas huecas
      type: class-toggle
      default: false
  -
    id: Font-settings-heading
    title: Fonts and symbols
    title.es: Fuentes y símbolos
    type: heading
    level: 1
    collapsed: false
  -
      id: enable-custom-fonts
      title: Enable the use of custom fonts options
      title.es: Activar el uso de las opciones para fuentes personalizadas
      description: fonts shouls be installed in the device
      description.es: las fuentes deben estar instaladas en el dispositivo
      type: class-toggle
      default: false
  -
      id: font-headings
      title: Headings font family
      title.es: Fuente para titulos
      description: "Font family used for note headers: inline-title, h1, h2, h3, h4, h5, h6"
      description.es: "Fuente usada para los titulos de las notas: titulo en una linea, h1, h2, h3, h4, h5, h6"
      type: variable-text
      default: 'var(--text-font)'
  -
      id: custom-font-properties
      title: Properties font family
      title.es: Fuente para las propiedades
      type: variable-text
      default: 'var(--text-font)'
  -
      id: custom-font-tags
      title: Tags font family
      title.es: Fuente para las tags
      type: variable-text
      default: 'var(--text-font)'
  -
      id: custom-font-quote
      title: quote font family
      title.es: Fuente para los bloques de cita
      type: variable-text
      default: 'var(--text-font)'
  -
      id: custom-font-callout
      title: callout font family
      title.es: Fuente para los callout (anotaciones)
      type: variable-text
      default: 'var(--text-font)'
  -
      id: Fonts-info-text
      description: The interface font, text font and monospace font are changed in Obsidian settings > Appearance
      description.es: La fuente de la interfaz, fuente del texto y fuente monospace se cambian desde Opciones > Apariencia
      type: info-text
  -
      id: monospace-symbols
      title: Monospace symbols
      title.es: Símbolos monoespaciados
      description: Changes markdown symbols (headers, lists, bold...) in live preview to use the monospace font
      description.es: Cambia los símbolos de markdown (encabezados, listas, texto en negrita...) en modo "Vista previa" para usar la fuente monoespaciada
      type: class-toggle
  -
    id: Headers-settings-heading
    title: Headers
    title.es: Encabezados
    type: heading
    level: 1
    collapsed: false
  -
        id: headings-variants
        title: headings variants
        title.es: Estilos para encabezados
        description: Alternates the looks of headings in live-preview mode
        description.es: Cambia como se ven los encabezados en modo "vista previa"
        type: class-select
        allowEmpty: true
        default: none
        options:
        -
          label: Lines
          value: headings-variant-lines
        -
          label: Lines and Dashes
          value: headings-variant-lines-and-dashes
  -
        id: default-inline-title
        title: Enable default inline title
        title.es: Habilita el titulo en linea por defecto
        description: Restores the inline title to obsidian defaults styling
        description.es: Restaura el estilo por defecto de obsidian para el titulo en una linea
        type: class-toggle
        default: false
  -
        id: hide-inline-title-note-name
        title: Hide note name in inline title
        title.es: Oculta el titulo de la nota en el titulo en linea
        type: class-toggle
        default: false
  -
    id: Sidebars-settings-heading
    title: Sidebars
    title.es: Paneles laterales
    type: heading
    level: 1
    collapsed: false
  -
      id: justify-icons-center
      title: Justify sidepanels icons center
      title.es: Iconos de los paneles laterales centrados
      description: Restore Obsidian default icon position
      description.es: Volver a la posición original de iconos en Obsidian
      type: class-toggle
      default: false
  -
    id: Properties-settings-heading
    title: Properties settings (Metadata)
    title.es: Ajustes de propiedades (Metadata)
    type: heading
    level: 1
    collapsed: false
  -
      id: metadata-container-alt
      title: Options for the metadata (properties) container
      description: Alternative styles for properties
      title.es: Estilos para el contenedor de propiedades
      description.es: Estilos alternativos del tema para las propiedades o metadatos
      type: class-select
      allowEmpty: true
      default: none
      options:
        -
          label: Dashed Separator
          value: metadata-container-alt-separator
        -
          label: Outline
          value: metadata-container-alt-outline
  -
      id: colored-text-tag-panel
      title: Use tag color for text in tag panel
      title.es: Usar color de las tags para el texto en el panel lateral
      type: class-toggle
      default: false
  -
      id: enable-bold-font-label-properties
      title: Enable bold for property labels
      title.es: Habilitar texto en negrita para el nombre de las propiedades
      type: class-toggle
      default: true
  -
      id: show-properties-label
      title: Show "Properties" label
      title.es: Mostrar la etiqueta "Propiedades"
      type: class-toggle
      default: false
  -
      id: hide-properties-icons
      title: Hide properties icon
      title.es: Ocultar iconos de propiedades
      type: class-toggle
      default: false
  -
      id: increase-metadata-label-width
      title: Adjust property label width
      title.es: Ajustar la anchura en las etiquetas de las propiedades
      type: class-toggle
      default: false
  -
*/:root{--font-monospace-theme:IOSenda}body{--color-red-rgb:244,114,102;--color-orange-rgb:247,159,105;--color-yellow-rgb:228,220,129;--color-green-rgb:160,223,139;--color-cyan-rgb:132,220,210;--color-blue-rgb:108,153,255;--color-purple-rgb:184,157,231;--color-pink-rgb:223,170,192;--color-red:#f47266;--color-orange:#f79f69;--color-yellow:#e4dc81;--color-green:#a0df8b;--color-cyan:#84dcd2;--color-blue:#6b97ff;--color-purple:#b89de7;--color-pink:#dfaac0;--text-normal:var(--color-base-content);--text-muted:var(--color-muted-content);--text-faint:var(--color-faint-content);--text-selection:var(--custom-accent-soft);--icon-color:var(--text-muted);--icon-color-hover:var(--text-normal);--icon-color-active:var(--text-normal);--icon-color-focused:var(--text-normal)}.theme-dark{--color-base-00:#0f0f0f;--color-base-05:#1b1b1b;--color-base-10:#252525;--color-base-20:#3c3c3c;--color-base-25:#454545;--color-base-30:#525252;--color-base-35:#5e5e5e;--color-base-40:#696969;--color-base-50:#7f7f7f;--color-base-60:#959595;--color-base-70:#acacac;--color-base-100:#ebebeb;--color-base-100-bg:oklch(30% 0 0);--color-base-200-bg:oklch(28% 0 0);--color-base-300-bg:oklch(26% 0 0);--color-base-400-bg:oklch(24% 0 0);--color-base-content:oklch(100% 0 0);--color-muted-content:oklch(75% 0 0);--color-faint-content:oklch(55% 0 0);--custom-accent-soft:hsl(var(--accent-h),24%,26%);--background-primary:var(--color-base-100-bg);--background-primary-alt:var(--color-base-200-bg);--background-secondary:var(--color-base-300-bg);--background-secondary-alt:var(--color-base-400-bg)}.theme-light{--color-base-00:#ebebeb;--color-base-05:#e4e4e4;--color-base-10:#d8d8d8;--color-base-20:#c2c2c2;--color-base-25:#b7b7b7;--color-base-30:#acacac;--color-base-35:#a0a0a0;--color-base-40:#959595;--color-base-50:#7f7f7f;--color-base-60:#696969;--color-base-70:#525252;--color-base-100:#0f0f0f;--color-base-100-bg:oklch(100% 0 0);--color-base-200-bg:oklch(97% 0 0);--color-base-300-bg:oklch(94% 0 0);--color-base-400-bg:oklch(91% 0 0);--color-base-content:oklch(0% 0 0);--color-muted-content:oklch(30% 0 0);--color-faint-content:oklch(45% 0 0);--custom-accent-soft:hsl(var(--accent-h),24%,26%);--background-primary:var(--color-base-100-bg);--background-primary-alt:var(--color-base-200-bg);--background-secondary:var(--color-base-300-bg);--background-secondary-alt:var(--color-base-400-bg)}body{--editor-elements-border-width:1px;--editor-elements-border-radius:var(--radius-m);--titlebar-background-focused:var(--background-primary);--titlebar-background:var(--background-primary);--ribbon-background:var(--background-secondary);--ribbon-background-collapsed:var(--ribbon-background);--status-bar-background:var(--background-secondary);--scrollbar-thumb-bg:#ffffff15;--divider-color:var(--color-base-20);--ui-element-border:var(--color-base-25);--ui-element-border-hover:var(--color-base-35);--editor-elements-border-color:var(--color-base-25);--tab-divider-color:var(--divider-color);--tab-outline-color:var(--divider-color);--tab-container-background:var(--background-primary)}body .menu{background:var(--background-secondary);border:1px solid var(--ui-element-border)}body .menu .menu-separator{margin:var(--size-2-1) calc(var(--size-2-1)*-1)}body{--background-modifier-form-field:var(--background-primary);--background-modifier-border:var(--color-base-20);--background-modifier-border-hover:var(--ui-element-border);--background-modifier-border-focus:var(--ui-element-border-hover);--background-modifier-active-hover:var(--color-base-25);--background-modifier-active-hover:var(--color-base-20);--interactive-normal:var(--color-base-20);--interactive-hover:var(--color-base-25);--code-background:var(--background-primary-alt);--code-radius:var(--radius-m)}body .cm-s-obsidian span.cm-inline-code{background-color:var(--background-secondary)}body{--modal-border-color:var(--ui-element-border);--prompt-border-color:var(--ui-element-border)}body .prompt{background-color:var(--background-primary)}body .prompt .prompt-input-container .prompt-input{background-color:var(--background-primary);border-bottom:1px solid var(--ui-element-border)}.horizontal-tab-nav-item.is-active,.vertical-tab-nav-item.is-active{background-color:var(--background-primary-alt);color:var(--text-normal)}.vertical-tab-nav-item{color:var(--text-muted)}.horizontal-tab-nav-item:hover,.vertical-tab-nav-item:hover{background-color:var(--color-base-20)}.horizontal-tab-nav-item.is-active:hover,.vertical-tab-nav-item.is-active:hover{background-color:var(--color-base-30)}.enable-custom-fonts{--font-headings:var(--font-text);--h1-font:var(--font-headings);--h2-font:var(--font-headings);--h3-font:var(--font-headings);--h4-font:var(--font-headings);--h5-font:var(--font-headings);--h6-font:var(--font-headings);--inline-title-font:var(--font-headings)!important}body{--h1-line-height:1.3;--h2-line-height:1.3;--h3-line-height:1.3;--h4-line-height:1.3;--h5-line-height:1.3;--h6-line-height:1.3}.monospace-symbols .cm-formatting{font-family:var(--font-monospace)!important}body{--bold-weight:bolder}.theme-dark:not(.default-inline-title),.theme-light:not(.default-inline-title){--inline-title-size:1.8rem;--inline-title-color:var(--text-normal);--inline-title-weight:600;--inline-title-margin-bottom:1.25rem;--file-header-justify:left;--file-header-font-size:.9rem}.hide-inline-title-note-name .view-header-title{display:none}:not(.default-inline-title) .view-content>.markdown-source-view.mod-cm6>.cm-editor>.cm-scroller{padding-top:1em}.view-header-title-container{display:flex}.view-header-title-container .view-header-title-parent{display:none}.view-header-title-container .view-header-title{margin:0 auto}.full-width{--file-line-width:100%}.markdown-embed{--embed-padding:1em;border-radius:var(--editor-elements-border-radius);--embed-border-left:var(--editor-elements-border-width) solid var(--editor-elements-border-color);--embed-border-right:var(--editor-elements-border-width) solid var(--editor-elements-border-color);--embed-border-top:var(--editor-elements-border-width) solid var(--editor-elements-border-color);--embed-border-bottom:var(--editor-elements-border-width) solid var(--editor-elements-border-color)}body{--blockquote-border-thickness:0.2em;--blockquote-border-color:red}.HyperMD-quote{font-family:var(--custom-font-quote);--blockquote-style:italic}body{--blockquote-border-thickness:0.4em;--blockquote-style:italic}body .callout{font-family:var(--custom-font-callout)}hr{border-top:2px solid var(--editor-elements-border-color)}body{--list-marker-color:var(--text-muted)}.cm-formatting-list{font-size:1rem}body{--table-header-border-color:var(--color-base-35);--table-header-font:var(--font-interface);--table-border-color:var(--color-base-30);--table-header-size:0.9em;--table-text-size:0.85em}.table-view-table>thead>tr>th{border-bottom:.15rem solid var(--table-header-border-color);font-size:var(--table-header-size);font-weight:400}tbody>tr>td{font-family:var(--font-interface)}.cm-table-widget{padding-top:0!important}.math{background-color:var(--code-background);border-radius:var(--code-radius);color:var(--code-normal)!important;font-size:calc(var(--code-size) + .2em)}mjx-math .TEX-I{display:inline-block;font-family:STIX Two Text!important;transform:scale(1.125);transform-origin:center}.workspace-tabs .workspace-leaf{background-color:var(--background-primary)}.workspace-split.mod-sidedock.mod-left-split{--titlebar-background:var(--background-secondary);--titlebar-background-focused:var(--background-secondary)}.workspace-split.mod-sidedock.mod-left-split .workspace-tabs .workspace-leaf{background-color:var(--background-secondary)}:not(.justify-icons-center) .nav-buttons-container{justify-content:left}div.sidebar-toggle-button.mod-right{display:none}body{--nn-theme-nav-bg:var(--background-secondary);--nn-theme-list-bg:var(--background-primary-alt)}.theme-dark,.theme-light{--metadata-gap:0;--metadata-input-font-size:max(var(--font-ui-small),0.9em);--metadata-label-font-size:max(var(--font-ui-small),0.9em)}.theme-dark .metadata-add-button,.theme-dark .metadata-property-key .metadata-property-icon,.theme-light .metadata-add-button,.theme-light .metadata-property-key .metadata-property-icon{--icon-size:var(--icon-s)}.theme-dark .metadata-add-button,.theme-light .metadata-add-button{margin-top:.25rem!important}.theme-dark .collapse-indicator,.theme-light .collapse-indicator{--collapse-icon-color-collapsed:var(--darker-property-color);opacity:1}.theme-dark .metadata-properties-title,.theme-light .metadata-properties-title{color:var(--text-muted);color:var(--darker-property-color);font-size:max(var(--font-ui-small),.9em);font-weight:400}.increase-metadata-label-width{--metadata-label-width:max(22.5%,8rem)}.hide-properties-icons .metadata-property-key .metadata-property-icon{display:none}.enable-custom-fonts .metadata-add-button,.enable-custom-fonts .metadata-properties,.enable-custom-fonts .metadata-properties *,.enable-custom-fonts .metadata-properties-heading{font-family:var(--custom-font-properties)}.enable-bold-font-label-properties{--metadata-label-font-weight:600}body{--property-h:22;--property-s:0%;--property-l:80%;--metadata-label-text-color:var(--text-normal);--darker-property-color:var(--text-muted)}body .metadata-property-key .metadata-property-icon{--icon-color:var(--darker-property-color)}body{--property-hsl:var(--property-h),var(--property-s),var(--property-l);--metadata-label-text-color:hsl(var(--property-hsl));--metadata-input-text-color:var(--property-input-color)}body .metadata-property .metadata-input-number,body .metadata-property .metadata-input-text,body .metadata-property .multi-select-container{color:var(--metadata-input-text-color)}body .metadata-container{--checkbox-color:var(--property-input-color);--link-color:var(--property-input-color);--link-external-color:var(--property-input-color)}body .metadata-add-button{color:var(--darker-property-color);cursor:pointer}body .metadata-add-button:hover{color:var(--property-label-color)}body [data-type=all-properties].is-active .workspace-tab-header-inner,body [data-type=file-properties].is-active .workspace-tab-header-inner{background-color:hsla(var(--property-hsl),.15)}body .mod-left-split
		.workspace-tab-header[data-type=all-properties]
		.workspace-tab-header-inner-icon{color:var(--property-label-color)}.metadata-properties-heading{display:none}.show-properties-label .metadata-properties-heading{display:inline-block}.metadata-container-alt-separator .metadata-container{border-bottom:2px dashed var(--divider-color);margin-bottom:1em;padding-bottom:.4em}.metadata-container-alt-outline .metadata-container{border:solid var(--editor-elements-border-width) var(--editor-elements-border-color);border-radius:var(--editor-elements-border-radius);margin-bottom:1em;padding:.75em .75em .5em}.properties-color-scheme-industrial-orange{--property-h:22;--property-s:0%;--property-l:90%;--darker-property-color:#f68d51;--property-input-color:#f9b086}.properties-color-scheme-racing-yellow{--property-h:50;--property-s:0%;--property-l:90%;--darker-property-color:#f3d020;--property-input-color:#f8e481}.properties-color-scheme-ocean{--property-h:202;--property-s:100%;--property-l:85%;--darker-property-color:#65a4e7;--property-input-color:#fccb88}.properties-color-scheme-chromium{--property-h:210;--property-s:48%;--property-l:74%;--darker-property-color:#5cafd6;--property-input-color:#e09e7b}.properties-color-scheme-space-adventure-1{--property-h:276;--property-s:68%;--property-l:77%;--darker-property-color:#a999f4;--property-input-color:#85dbb0}.properties-color-scheme-space-adventure-2{--property-h:169;--property-s:56%;--property-l:68%;--darker-property-color:#f78c6c;--property-input-color:#c789d6}.properties-color-scheme-ruby{--property-h:0;--property-s:0%;--property-l:90%;--darker-property-color:#ff6161;--property-input-color:#ff8585}.properties-color-scheme-mecha{--property-h:171;--property-s:100%;--property-l:45%;--darker-property-color:#f39c12;--property-input-color:#ffe66b}.properties-color-scheme-riverrun{--property-h:120;--property-s:47%;--property-l:66%;--darker-property-color:#5bbe5b;--property-input-color:#b3e3ff;--metadata-border-color:var(--darker-property-color);--metadata-border-width:2px}.properties-color-scheme-pine{--property-h:0;--property-s:0%;--property-l:90%;--darker-property-color:#5bbe5b;--property-input-color:#a3d1a3}.properties-color-scheme-emerald{--property-h:125;--property-s:55%;--property-l:74%;--darker-property-color:#55be5e;--property-input-color:#b7e198}.properties-color-scheme-sun{--property-h:20;--property-s:45%;--property-l:73%;--darker-property-color:#c86}body{--tag-h:0;--tag-s:0%;--tag-l:84%;--tag-hsl:var(--tag-h),var(--tag-s),var(--tag-l);--tag-color:hsl(var(--tag-hsl));--tag-color-hover:var(--tag-color);--tag-color-hover:hsla(var(--tag-hsl),0.8);--tag-background:hsla(var(--tag-hsl),0.15);--tag-background-hover:hsla(var(--tag-hsl),0.3);--tag-padding-x:0.75em;--tag-padding-y:0.33em;--tag-radius:var(--radius-l);--graph-node-tag:hsl(var(--tag-hsl))}.tag{font-family:var(--custom-font-tag)}.hollow-tags{--tag-background:none;--tag-background-hover:none;--tag-border-color:var(--tag-color);--tag-border-color:hsla(var(--tag-hsl),0.3);--tag-border-color-hover:hsla(var(--tag-hsl),0.2);--tag-border-width:1px}[data-type=tag].is-active .workspace-tab-header-inner{background-color:var(--tag-background)}.colored-text-tag-panel .tag-pane-tag{--nav-item-color:var(--tag-color)}[data-type=tag] .workspace-tab-header-inner-icon svg{color:var(--tag-color)!important}.tags-ruby{--tag-h:0;--tag-s:100%;--tag-l:76%}.tags-industrial-orange{--tag-h:22;--tag-s:70%;--tag-l:70%}.tags-mecha{--tag-h:37;--tag-s:90%;--tag-l:51%}.tags-racing-yellow{--tag-h:50;--tag-s:90%;--tag-l:66%}.tags-emerald{--tag-h:125;--tag-s:75%;--tag-l:74%}.tags-pine{--tag-h:155;--tag-s:75%;--tag-l:69%}.tags-ocean{--tag-h:202;--tag-s:100%;--tag-l:80%}.tags-space-adventure{--tag-h:276;--tag-s:68%;--tag-l:77%}.tags-saphire{--tag-h:216;--tag-s:100%;--tag-l:75%}.tags-amethyst{--tag-h:280;--tag-s:85%;--tag-l:80%}.headings-variant-lines-and-dashes .HyperMD-header-1,.headings-variant-lines-and-dashes .HyperMD-header-2{border-bottom:1px solid var(--editor-elements-border-color);padding-bottom:.1em!important}.headings-variant-lines-and-dashes .HyperMD-header-3,.headings-variant-lines-and-dashes .HyperMD-header-4{border-bottom:1px dashed var(--editor-elements-border-color);padding-bottom:.1em!important}.headings-variant-lines-and-dashes .HyperMD-header+*{padding-top:.4em!important}.headings-variant-lines .HyperMD-header-1,.headings-variant-lines .HyperMD-header-2,.headings-variant-lines .HyperMD-header-3,.headings-variant-lines .HyperMD-header-4{border-bottom:1px solid var(--editor-elements-border-color);padding-bottom:.1em!important}.headings-variant-lines .HyperMD-header+*{padding-top:.4em!important}