/* HEADINGS VARIANTS */

/* lines and dashes */
.headings-variant-lines-and-dashes {
  .HyperMD-header-1, .HyperMD-header-2 {
    border-bottom: 1px solid var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header-3, .HyperMD-header-4 {
    border-bottom: 1px dashed var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header + * {
    padding-top: .4em !important;
  }
}

/* lines */
.headings-variant-lines {
  .HyperMD-header-1, .HyperMD-header-2, .HyperMD-header-3, .HyperMD-header-4 {
    border-bottom: 1px solid var(--editor-elements-border-color);
    padding-bottom: .1em !important;
  }
  .HyperMD-header + * {
    padding-top: .4em !important;
  }
}
