/* TAG SETTINGS - BASE */

body {
	/* Default: Colored tags using theme color 1 */
	--tag-color: var(--theme-color-1-normal);
	--tag-color-hover: var(--theme-color-1-high);
	--tag-background: color-mix(
		in oklch,
		var(--theme-color-1-normal) 15%,
		transparent
	);
	--tag-background-hover: color-mix(
		in oklch,
		var(--theme-color-1-normal) 30%,
		transparent
	);
	--graph-node-tag: var(--theme-color-1-normal);

	--tag-padding-x: 0.75em;
	--tag-padding-y: 0.33em;
	--tag-radius: var(--radius-l);
}

[data-type="tag"].is-active .workspace-tab-header-inner {
	background-color: var(--tag-background);
}

[data-type="tag"] .workspace-tab-header-inner-icon svg {
	color: var(--tag-color) !important;
}
