body {
	/* Titlebar */
	--titlebar-background-focused: var(--background-primary);
	--titlebar-background: var(--background-primary);

	/* Ribbon */
	--ribbon-background: var(--background-secondary);
	--ribbon-background-collapsed: var(--ribbon-background);

	/* Status bar */
	--status-bar-background: var(--background-secondary);

	/* Scrollbar */
	--scrollbar-thumb-bg: #ffffff15;

	/* Divider */
	--divider-color: var(--color-base-10);

	/* Tabs */
	--tab-divider-color: var(--divider-color);
	--tab-outline-color: var(--divider-color);
	--tab-container-background: var(--background-primary);

	/* Semantic colors */
	--background-modifier-border: var(--color-base-20);
	--background-modifier-border-hover: var(--color-base-30);
	--background-modifier-border-focus: var(--color-base-30);

	--background-modifier-active-hover: var(--color-base-25);
	--background-modifier-active-hover: var(--color-base-20);
}

/* FEATURE: File Name */
/* Hide file path/name */
.hide-file-title .view-header-title {
	display: none;
}

:not(.default-file-title) {
	/* Center file path/name */
	.view-header-title-container {
		display: flex;
		.view-header-title-parent {
			display: none;
		}
		.view-header-title {
			margin: 0 auto;
		}
	}
}
