body {
	/* Titlebar */
	--titlebar-background-focused: var(--background-primary);
	--titlebar-background: var(--background-primary);

	/* Ribbon */
	--ribbon-background: var(--background-secondary);
	--ribbon-background-collapsed: var(--ribbon-background);

	/* Status bar */
	--status-bar-background: var(--background-secondary);

	/* Scrollbar */
	--scrollbar-thumb-bg: #ffffff15;

	/* Divider */
	--divider-color: var(--color-base-10);

	/* Borders */
	--ui-element-border: var(--color-base-25);
	--ui-element-border-hover: var(--color-base-35);
	--editor-elements-border-color: var(--color-base-25);

	/* Tabs */
	--tab-divider-color: var(--divider-color);
	--tab-outline-color: var(--divider-color);
	--tab-container-background: var(--background-primary);
}
