body {
	/* Titlebar */
	--titlebar-background-focused: var(--background-primary);
	--titlebar-background: var(--background-primary);

	/* Ribbon */
	--ribbon-background: var(--background-secondary);
	--ribbon-background-collapsed: var(--ribbon-background);

	/* Status bar */
	--status-bar-background: var(--background-secondary);

	/* Scrollbar */
	--scrollbar-thumb-bg: #ffffff15;

	/* Tab */
	--tab-container-background: var(--background-primary);
	
}
