/* OTHER UI ELEMENTS */

.theme-dark {
  /* right-click context menu */
  .menu {
    background: var(--pos-2-bg);
    border: 1px solid var(--ui-element-border);
    .menu-separator {
      margin: var(--size-2-1) calc(var(--size-2-1) * -1);
    }
  }

  /* form field */
  --background-modifier-form-field: var(--pos-1-bg);
  --background-modifier-border: var(--color-base-20);
  --background-modifier-border-hover: var(--ui-element-border);
  --background-modifier-border-focus: var(--ui-element-border-hover);

  --background-modifier-active-hover: var(--color-base-25);
  --background-modifier-active-hover: var(--color-base-20);

  /* buttons */
  --interactive-normal: var(--color-base-20);
  --interactive-hover: var(--color-base-25);

  /* code */
  .theme-dark {
    --code-background: var(--pos-0-bg);
    --code-radius: var(--radius-m);
  }
  .cm-s-obsidian span.cm-inline-code {
    background-color: var(--pos-2-bg);
  }

  /* modal */
  .theme-dark {
    --modal-border-color: var(--ui-element-border);
  }

  /* prompt */
  .theme-dark {
    --prompt-border-color: var(--ui-element-border);
  }
  .prompt {
    background-color: var(--pos-1-bg);
    .prompt-input-container .prompt-input {
      background-color: var(--pos-1-bg);
      border-bottom: 1px var(--ui-element-border) solid;
    }
  }

}

.theme-light {
  --editor-elements-border-color: hsla(0, 0%, 0%, 0.125);
}

.theme-dark {
  --modal-border-color: var(--ui-element-border);
  --prompt-border-color: var(--ui-element-border);

  /* prompt */
  .prompt {
    background-color: var(--pos-1-bg);
    .prompt-input-container .prompt-input {
      background-color: var(--pos-1-bg);
      border-bottom: 1px var(--ui-element-border) solid;
    }
  }

}

.theme-light {
  --editor-elements-border-color: hsla(0, 0%, 0%, 0.125);
}
