/* OTHER UI ELEMENTS */

body {
	/* right-click context menu */
	.menu {
		background: var(--background-primary-alt);
		border: 1px solid var(--color-base-30);
		.menu-separator {
			margin: var(--size-2-1) calc(var(--size-2-1) * -1);
		}
	}

	/* form field */
	--background-modifier-form-field: var(--background-primary);

	/* buttons */
	&.theme-dark {
		--interactive-normal: var(--color-base-50);
		--interactive-hover: var(--color-base-50);
	}
	&.theme-light {
		--interactive-normal: var(--color-base-10);
		--interactive-hover: var(--color-base-20);
	}

	/* code */
	--code-background: var(--background-primary-alt);
	--code-radius: var(--radius-m);

	.cm-s-obsidian span.cm-inline-code {
		background-color: var(--background-secondary);
	}

	/* modal */
	--modal-border-color: var(--background-modifier-border);

	/* prompt */
	--prompt-border-color: var(--background-modifier-border);
	.prompt {
		background-color: var(--background-primary);
		.prompt-input-container .prompt-input {
			background-color: var(--background-primary);
			border-bottom: 1px var(--prompt-border-color) solid;
		}
	}
}
