/* OTHER UI ELEMENTS */

body.theme-light,
body.theme-dark {
	/* right-click context menu */
	.menu {
		background: var(--background-secondary);
		border: 1px solid var(--ui-element-border);
		.menu-separator {
			margin: var(--size-2-1) calc(var(--size-2-1) * -1);
		}
	}

	/* form field */
	--background-modifier-form-field: var(--background-primary);
	--background-modifier-border: var(--color-base-20);
	--background-modifier-border-hover: var(--ui-element-border);
	--background-modifier-border-focus: var(--ui-element-border-hover);

	--background-modifier-active-hover: var(--color-base-25);
	--background-modifier-active-hover: var(--color-base-20);

	/* buttons */
	--interactive-normal: var(--background-primary-alt);
	--interactive-hover: var(--background-secondary);

	/* code */
	--code-background: var(--background-primary-alt);
	--code-radius: var(--radius-m);

	.cm-s-obsidian span.cm-inline-code {
		background-color: var(--background-secondary);
	}

	/* modal */
	--modal-border-color: var(--ui-element-border);

	/* prompt */
	--prompt-border-color: var(--ui-element-border);
	.prompt {
		background-color: var(--background-primary);
		.prompt-input-container .prompt-input {
			background-color: var(--background-primary);
			border-bottom: 1px var(--ui-element-border) solid;
		}
	}
}
