/* Ribbon Icon Colors */

.colored-ribbon-icons {
  .side-dock-actions .clickable-icon:nth-of-type(1) {
    --icon-color: #A899F4;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(2) {
    --icon-color: #65A4E7;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(3) {
    --icon-color: #99DCFF;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(4) {
    --icon-color: #9BD180;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(5) {
    --icon-color: #85DBB0;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(6) {
    --icon-color: #E2D97E;
    color: var(--icon-color) !important;
  }
  .side-dock-actions .clickable-icon:nth-of-type(7) {
    --icon-color: #FCCB88;
    color: var(--icon-color) !important;
  }
}
