/* @settings

name: Cosmical
id: cosmical
collapsed: false
settings:
  -
    id: Theme-color-settings-heading
    title: Theme Colors
    title.es: Colores del Tema
    type: heading
    level: 1
    collapsed: false
  -
      id: subtheme
      title: Subtheme
      title.es: Subtema
      description: Choose a color subtheme that affects properties and other features
      description.es: Elige un subtema de color que afecta a las propiedades y otras características
      type: class-select
      allowEmpty: false
      default: Ocean
      options:
        -
          label: Ocean (default)
          label.es: Océano (predeterminado)
          value: subtheme-ocean
        -
          label: Forest
          label.es: Bosque
          value: subtheme-forest
        -
          label: Twilight
          label.es: Crepúsculo
          value: subtheme-twilight
        -
          label: Sunset
          label.es: Atardecer
          value: subtheme-sunset
        -
          label: Monochrome
          label.es: Monocromo
          value: subtheme-monochrome
  -
        id: tags-color
        title: Tags color
        title.es: Color de las etiquetas (tags)
        description: Choose the accent color for tags
        description.es: Color de énfasis para las etiquetas
        type: class-select
        allowEmpty: true
        default: tags-ocean
        options:
          -
            label: Industrial Orange
            value: tags-industrial-orange
          -
            label: Racing Yellow
            value: tags-racing-yellow
          -
            label: Emerald
            value: tags-emerald
          -
            label: Pine
            value: tags-pine
          -
            label: Ocean
            value: tags-ocean
          -
            label: Space Adventure
            value: tags-space-adventure
          -
            label: Saphire
            value: tags-saphire
          -
            label: Amethyst
            value: tags-amethyst
          -
            label: Ruby
            value: tags-ruby
          -
            label: Mecha
            value: tags-mecha
  -
      id: colored-headings
      title: Use subtheme colors for headings
      title.es: Usar colores de subtema en los encabezados
      type: class-toggle
      default: false
  -
      id: hollow-tags
      title: Hollow tags style
      title.es: Estilo de etiquetas huecas
      type: class-toggle
      default: false
  -
    id: Font-settings-heading
    title: Fonts and symbols
    title.es: Fuentes y símbolos
    type: heading
    level: 1
    collapsed: false
  -
      id: enable-custom-fonts
      title: Enable the use of custom fonts options
      title.es: Activar el uso de las opciones para fuentes personalizadas
      description: fonts shouls be installed in the device
      description.es: las fuentes deben estar instaladas en el dispositivo
      type: class-toggle
      default: false
  -
      id: font-headings
      title: Headings font family
      title.es: Fuente para titulos
      description: "Font family used for note headers: inline-title, h1, h2, h3, h4, h5, h6"
      description.es: "Fuente usada para los titulos de las notas: titulo en una linea, h1, h2, h3, h4, h5, h6"
      type: variable-text
      default: 'var(--text-font)'
  -
      id: Fonts-info-text
      description: The interface font, text font and monospace font are changed in Obsidian settings > Appearance
      description.es: La fuente de la interfaz, fuente del texto y fuente monospace se cambian desde Opciones > Apariencia
      type: info-text
  -
    id: Editor-settings-heading
    title: Editor
    title.es: Editor
    type: heading
    level: 1
    collapsed: false
  -
      id: custom-caret
      title: Custom caret color
      title.es: Color personalizado del cursor
      description: Use subtheme color for the text cursor in the editor
      description.es: Usa el color del subtema para el cursor de texto en el editor
      type: class-toggle
      default: false
  -
    id: Headers-settings-heading
    title: Headers
    title.es: Encabezados
    type: heading
    level: 1
    collapsed: false
  -
      id: headings-underline
      title: Underline headings
      title.es: Subrayar encabezados
      description: Adds underline decoration to headings
      description.es: Añade subrayaado a los encabezados
      type: class-toggle
      default: false
  -
      id: default-file-title
      title: Use default file title
      title.es: Usar el titulo de archivo por defecto
      description: Restores the file title to obsidian defaults styling
      description.es: Restaura el estilo por defecto de obsidian para el titulo en archivo
      type: class-toggle
      default: false
  -
      id: hide-file-title
      title: Hide file title in topbar
      title.es: Ocultar titulo de archivo en la barra superior
      type: class-toggle
      default: false
  -
    id: Sidebars-settings-heading
    title: Sidebars
    title.es: Paneles laterales
    type: heading
    level: 1
    collapsed: false
  -
      id: justify-icons-center
      title: Justify sidepanels icons center
      title.es: Iconos de los paneles laterales centrados
      description: Restore Obsidian default icon position
      description.es: Volver a la posición original de iconos en Obsidian
      type: class-toggle
      default: false
  -
      id: hide-right-sidebar-toggle
      title: Hide right sidebar toggle button
      title.es: Ocultar botón de alternar panel lateral derecho
      description: Hides the right sidebar toggle button
      description.es: Oculta el botón de alternar del panel lateral derecho
      type: class-toggle
      default: false
  -
    id: Properties-settings-heading
    title: Properties settings (Metadata)
    title.es: Ajustes de propiedades (Metadata)
    type: heading
    level: 1
    collapsed: false
  -
      id: metadata-container-alt
      title: Options for the metadata (properties) container
      description: Alternative styles for properties
      title.es: Estilos para el contenedor de propiedades
      description.es: Estilos alternativos del tema para las propiedades o metadatos
      type: class-select
      allowEmpty: true
      default: none
      options:
        -
          label: Dashed Separator
          value: metadata-container-alt-separator
        -
          label: Outline
          value: metadata-container-alt-outline
  -
      id: colored-text-tag-panel
      title: Use tag color for text in tag panel
      title.es: Usar color de las tags para el texto en el panel lateral
      type: class-toggle
      default: false
  -
      id: enable-bold-font-label-properties
      title: Enable bold for property labels
      title.es: Habilitar texto en negrita para el nombre de las propiedades
      type: class-toggle
      default: true
  -
      id: show-properties-label
      title: Show "Properties" label
      title.es: Mostrar la etiqueta "Propiedades"
      type: class-toggle
      default: false
  -
      id: hide-properties-icons
      title: Hide properties icon
      title.es: Ocultar iconos de propiedades
      type: class-toggle
      default: false
  -
      id: increase-metadata-label-width
      title: Adjust property label width
      title.es: Ajustar la anchura en las etiquetas de las propiedades
      type: class-toggle
      default: false
  -
*/
