/* Cosmical Theme - Main Entry Point */

/* Style Settings Configuration */
@import "./settings/style-settings.css";

/* Base */
@import "./base/variables.css";
@import "./base/ui.css";

/* Subthemes System */
@import "./subtheme-colors/theme-schema.css";
@import "./subtheme-colors/definitions.css";

/* Editor */
@import "./editor/content-blocks.css";
@import "./editor/lists.css";
@import "./editor/tables.css";
@import "./editor/headings.css";

/* Panels */
@import "./panels/sidebars.css";

/* Plugins */
@import "./plugins/notebook-navigator.css";
@import "./plugins/bases.css";

/* Features */
@import "./features/css-classes.css";
@import "./features/properties.css";
@import "./features/tags.css";
@import "./features/editor.css";
@import "./features/callouts.css";
