/* Cosmical Theme - Main Entry Point */

/* Style Settings Community Plugin Configuration */
@import "./settings/style-settings.css";

/* Base */
@import "./base/variables.css";
@import "./base/obsidian-ui.css";

/* Theme Colors System */
@import "./theme-colors/theme-schema.css";

/* Editor */
@import "./editor/content-elements.css";
@import "./editor/headings.css";

/* Plugins */
@import "./plugins/notebook-navigator.css";
@import "./plugins/bases.css";

/* Features */
@import "./features/css-classes.css";
@import "./features/properties.css";
@import "./features/tags.css";
@import "./features/themed-ui.css";
