/* Base Variables */

:root {
	--font-monospace-theme: IOSenda;
}

/* Base Color Variables */

.theme-dark,
.theme-light {
	--color-red-rgb: 244, 114, 102;
	--color-orange-rgb: 247, 159, 105;
	--color-yellow-rgb: 228, 220, 129;
	--color-green-rgb: 160, 223, 139;
	--color-cyan-rgb: 132, 220, 210;
	--color-blue-rgb: 108, 153, 255;
	--color-purple-rgb: 184, 157, 231;
	--color-pink-rgb: 223, 170, 192;

	--color-red: rgb(244, 114, 102);
	--color-orange: hsl(23, 90%, 69%);
	--color-yellow: hsl(55, 65%, 70%);
	--color-green: hsl(105, 57%, 71%);
	--color-cyan: hsl(173, 56%, 69%);
	--color-blue: hsl(222, 100%, 71%);
	--color-purple: hsl(262, 60%, 76%);
	--color-pink: hsl(335, 45%, 77%);
}

.theme-dark {
	--color-base-00: #0f0f0f;
	--color-base-05: #1b1b1b;
	--color-base-10: #252525;
	--color-base-15: #303030;
	--color-base-20: #3c3c3c;
	--color-base-25: #454545;
	--color-base-30: #525252;
	--color-base-35: #5e5e5e;
	--color-base-40: #696969;
	--color-base-45: #747474;
	--color-base-50: #7f7f7f;
	--color-base-55: #8a8a8a;
	--color-base-60: #959595;
	--color-base-65: #a0a0a0;
	--color-base-70: #acacac;
	--color-base-75: #b7b7b7;
	--color-base-80: #c2c2c2;
	--color-base-85: #cdcdcd;
	--color-base-90: #d8d8d8;
	--color-base-95: #e4e4e4;
	--color-base-100: #ebebeb;

	--pos-0-bg: #303030;
	--pos-1-bg: #2a2a2a;
	--pos-2-bg: #252525;
	--pos-3-bg: #202020;
	--pos-4-bg: #1b1b1b;
}

.theme-light {
	--color-base-100: #0f0f0f;
	--color-base-95: #1b1b1b;
	--color-base-90: #252525;
	--color-base-85: #303030;
	--color-base-80: #3c3c3c;
	--color-base-75: #454545;
	--color-base-70: #525252;
	--color-base-65: #5e5e5e;
	--color-base-60: #696969;
	--color-base-55: #747474;
	--color-base-50: #7f7f7f;
	--color-base-45: #8a8a8a;
	--color-base-40: #959595;
	--color-base-35: #a0a0a0;
	--color-base-30: #acacac;
	--color-base-25: #b7b7b7;
	--color-base-20: #c2c2c2;
	--color-base-15: #cdcdcd;
	--color-base-10: #d8d8d8;
	--color-base-05: #e4e4e4;
	--color-base-00: #ebebeb;

	--pos-0-bg: var(--color-base-00);
	--pos-1-bg: var(--color-base-05);
	--pos-2-bg: var(--color-base-10);
	--pos-3-bg: var(--color-base-15);
	--pos-4-bg: var(--color-base-20);
}
